<div class="container-fluid box-wrapper vert-align profile-wrapper">
    <div class="box" id="left-box">
        <img src="https://www.looktothestars.org/photo/3-george-clooney/teaser-1379520662.jpg" class="photo">
        <h3>Christopher Waltz</h3>
        <h4>username</h4> 

        <a href="mailto:waltz@film.com">waltz@film.com</a>
        <div class="address-wrapper">
            <p>Sophienstra&szlig;e 21</p>
            <p>10178 Berlin</p>
            <p>Germany</p>
        </div>
        <a href="callto:013454566">01 345 45 66</a>
    </div>
    <div class="box" id="right-box">
        <form class="form-inline">

            <h3> Personal </h3>

            <div class="form-row">
                <div class="form-group">  
                    <input type="text" class="form-control" placeholder="Christof">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Waltz">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="waltz@film.com">
                </div>
            </div>

            <h3> Address </h3>
            <div class="form-row">
                <div class="form-group">  
                    <input type="text" class="form-control" placeholder="Sophienstra&szlig;e 21">
                </div>
                <div class="form-group">   
                    <input type="text" class="form-control" placeholder="10178">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group"> 
                    <input type="text" class="form-control" placeholder="Berlin">
                </div>
                <div class="form-group"> 
                    <input type="text" class="form-control" placeholder="Germany">
                </div>

            </div>



            <div class="form-group">

                <input type="text" class="form-control" placeholder="01 345 45 66">
            </div>


            <button type="submit" class="btn btn-default button">Save</button>
        </form>

    </div>
</div>
