<div class="container-fluid box-wrapper vert-align profile-wrapper" ng-controller="ProfileController">
    <div class="box" id="left-box">
        <img src="{{photoURL}}" class="photo">
        <h3>{{firstName | capitalize:true}} {{lastName | capitalize:true}}</h3>
        <h4>{{username}}</h4> 

        <a href="mailto:{{email}}">{{email}}</a>
        <div class="address-wrapper">
            <p>{{street | capitalize:true}}</p>
            <p>{{zip}} {{city | capitalize:true }}</p>
            <p>{{state | capitalize:true }}</p>
        </div>
        <a href="callto:{{phone}}">{{phone}}</a>
    </div>
    <div class="box" id="right-box">
        <form class="form-inline">

            <h3> Personal </h3>

            <div class="form-row">
                <div class="form-group" ng-repeat="entry in fullName">  
                    <input type="text" class="form-control" placeholder="{{entry | capitalize:true}}">
                </div>
            
                <div class="form-group" ng-repeat="entry in loginDetails">
                    <input type="text" class="form-control" placeholder="{{entry}}">
                </div>
               
            </div>

            <h3> Address </h3>
            <div class="form-row">
                <div class="form-group">  
                    <input type="text" class="form-control" placeholder="{{street | capitalize:true}}">
                </div>
                <div class="form-group">   
                    <input type="text" class="form-control" placeholder="{{zip}}">
                </div>
                <div class="form-group"> 
                    <input type="text" class="form-control" placeholder="{{city | capitalize:true}}">
                </div>
                <div class="form-group"> 
                    <input type="text" class="form-control" placeholder="{{state | capitalize:true}}">
                </div>
            </div>



            <div class="form-group">

                <input type="text" class="form-control" placeholder="{{phone}}">
            </div>


            <button type="submit" class="btn btn-default button">Save</button>
        </form>

    </div>
</div>
